body
{
    text-align: center;
    line-height: 1;
    font-family: "Barlow Condensed";
    font-size: x-large;
}

button
{
    font-family: "Barlow Condensed";
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 170px;
    background-color: rgb(0, 175, 178); /* Green background */
    border: none;
    color: white; /* White text */
    font-size: large;
    /*padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
}

button:not(:last-child) 
{
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
button:hover 
{
    background-color: rgb(2, 112, 114);
}

div#buttons
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

img
{
    width: 80%;
}